.skills {
  height: 600px;
  background-color: chocolate;
}
.skills__item {
  width: 70%;
  height: 70%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.skills__item__text {
  width: 100%;
  height: 20%;
  border-bottom: 1px solid black;
  text-align: center;
}
.skills__item__content {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .skills {
    height: 100vh;
  }
  .skills__item {
    width: 90%;
    height: 90%;
  }
  .skills__item__text {
    height: 5%;
  }
  .skills__item__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
