.mainItem {
  height: 200px;
  background-color: sandybrown;
}
.mainItem__item {
  width: 70%;
  height: 70%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .mainItem__item {
    width: 90%;
    height: 90%;
    text-align: center;
  }
}
