.avatar {
  height: 600px;
  background-color: burlywood;
}
.avatar__item {
  width: 70%;
  height: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.avatar__item__text {
  width: 25%;
  height: 65%;
  background-color: cadetblue;
}
.avatar__item__icons {
  width: 25%;
  height: 100%;
  background-color: cadetblue;
}
